<div class="twidget-suggestion {{(!suggestion.name.length) ? 'twidget-suggestion-is-city' :''}}">
    <span class="twidget-suggestion-code twidget-suggestion-text-mute">{{suggestion.code}}</span>
    <span class="twidget-suggestion-name">{{suggestion.city_name}}, <span
            class="twidget-suggestion-country twidget-suggestion-text-mute">{{suggestion.country_name}}</span></span>
    <span class="twidget-suggestion-airport-name twidget-suggestion-text-mute">{{suggestion.name}}</span>
</div>