<div class="autocomplete {{ attrs.class }}" id="{{ attrs.id }}">
    <input
            type="text"
            ng-model="searchParam"
            placeholder="{{ attrs.placeholder }}"
            class="{{ attrs.inputclass }}"
            tabindex="{{ attrs.tabindex }}"
            id="{{ attrs.inputid }}"
            name="{{ attrs.name }}"
            ng-required="{{ autocompleteRequired }}"
            ng-model-options="{ debounce: 300 }"/>
    <div class="twidget-auto-fill-wrapper">
        <ul ng-show="completing && (suggestions | filter:searchFilter).length > 0">
            <li
                    class="clearfix"
                    suggestion
                    ng-repeat="suggestion in suggestions | filter:searchFilter track by $index"
                    index="{{ $index }}"
                    val="{{ suggestion }}"
                    date="suggestion"
                    ng-class="{ active: ($index === selectedIndex) }"
                    ng-click="select(suggestion)"
            >
                <span class="twidget-city-name">{{suggestion.city_name}}, <span>{{suggestion.country_name}}</span></span><span
                    class="twidget-num-hotel">{{suggestion.code}}</span>
                <span class="twidget-city-airport-name" ng-show="suggestion.name">{{suggestion.name}}</span>
                <span class="twidget-city-airport-name" ng-hide="suggestion.name">Все аэропорты</span>
            </li>
        </ul>
    </div>
</div>