<div class="twidget-input-box">
    <label>{{$ctrl.label}}</label>
    <div class="twidget-input-box-show-popup" ng-click="$ctrl.popover.toggle()">
        <input type="text">
        <div class="twidget-icon-cal" ng-hide="$ctrl.date"></div>
        <span class="twidget-date-text twidget-date-depart"
              ng-hide="$ctrl.date"
        >{{$ctrl.label}}</span>
        <span ng-show="$ctrl.date"
              class="twidget-date-text twidget-date-depart"
        >{{$ctrl.date  | date:"d MMMM, EEE"}}</span>
    </div>
    <div class="twidget-icon-delete" ng-show="$ctrl.date"
         ng-click="$ctrl.date=null;"></div>
</div>


