<div class="ng-popover dropdown-menu ng-popover-orient-left ng-popover-orient-bottom twidget-popup twidget-disable-select">
    <div id="twidget-passenger-form">
        <div class="twidget-passenger-form-wrapper">
            <ul class="twidget-age-group">
                <li>
                    <div class="twidget-cell twidget-age-name"><span
                            ng-bind-html="$ctrl.parent.translate('avia_passengers_select_adults')"></span></div>
                    <passengers-value field="adults" passengers="$ctrl.passengers"
                                      value="$ctrl.passengers.adults"></passengers-value>
                </li>
                <li>
                    <div class="twidget-cell twidget-age-name"><span
                            ng-bind-html="$ctrl.parent.translate('avia_passengers_select_children')"></span></div>
                    <passengers-value field="children" passengers="$ctrl.passengers"
                                      value="$ctrl.passengers.children"></passengers-value>
                </li>
                <li>
                    <div class="twidget-cell twidget-age-name"><span
                            ng-bind-html="$ctrl.parent.translate('avia_passengers_select_infants')"></span></div>
                    <passengers-value field="infants" passengers="$ctrl.passengers"
                                      value="$ctrl.passengers.infants"></passengers-value>
                </li>
            </ul>
            <div class="twidget-pas-class">
                <div class="twidget-pass-check"
                     ng-class="{'twidget-pass-check-checked':$ctrl.tripClass == 1}">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.tripClass" ng-true-value="1"
                               ng-false-value="0"> {{$ctrl.parent.translate('avia_passengers_business_class_checkbox')}}</label>
                </div>
            </div>
            <!--<ul class="twidget-age-group">-->
                <!--<li class="twidget-passengers-ready-button-wrapper">-->
                    <!--<div ng-click="$hide();" class="twidget-passengers-ready-button">-->
                        <!--{{$ctrl.parent.translate('avia_passengers_select_ready_button')}}-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>