<div class="twidget-container" id="twidget" style="position: relative;">
    <div class="twidget-tabs">
        <div class="twidget-tab-content">
            <div id="twidget-tab1" class="twidget-tab active">
                <div class="twidget-header" target="_blank"><a
                        href="https://www.aviasales.ru/?marker=78606"
                        class="twidget-logo">
                    <div class="twidget-logo-image twidget-aviasales-logo-img" width="30"
                         height="30"></div>
                    aviasales</a> <a href="https://www.aviasales.ru/?marker=78606"
                                     class="twidget-title">Поиск
                    дешёвых авиабилетов</a></div>
                <div class="clearfix"></div>
                <ul class="twidget-form-list clearfix">
                    <li class="twidget-origin">
                        <city-autocomplete value="$ctrl.formData.origin" label="'Город отправления'">
                        </city-autocomplete>
                    </li>
                    <li class="twidget-destination">
                        <city-autocomplete value="$ctrl.formData.destination" label="'Город прибытия'">
                        </city-autocomplete>
                    </li>
                    <li class="twidget-flight-dates input-daterange input-group clearfix">
                        <search-form-datepicker-input
                                class="twidget-dep-date twidget-form-item"
                                label="'Туда'"
                                dates="$ctrl.dates"
                                key="'rangeStart'"
                        ></search-form-datepicker-input>
                        <search-form-datepicker-input
                                class="twidget-return-date twidget-form-item"
                                label="'Обратно'"
                                dates="$ctrl.dates"
                                key="'rangeEnd'"
                        ></search-form-datepicker-input>
                    </li>
                    <li class="twidget-passengers">
                        <passengers passengers="$ctrl.formData.passengers"
                                    trip-class="$ctrl.formData.trip_class"></passengers>
                    </li>
                    <li class="twidget-submit-button">
                        <button>Найти билеты</button>
                    </li>
                </ul>
                <div class="twidget-tab-bottom"></div>
            </div>
        </div>
    </div>
</div>